.custom-container {
  padding-left: 100px;
  padding-right: 100px;
}

.remark-container {
  padding: 100px 0;
}

.divider {
  margin: 16px 0 8px 0;
  background: var(--stroke-gray) !important;
}

.isActive {
  color: var(--accent-blue);
}

.small-action-btn {
  width: 32px !important;
  height: 32px !important;
}

.line-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@media (max-width: 1024px) {
  .custom-container {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (max-width: 768px) {
  .custom-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 680px) {
  .small-action-btn {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 640px) {
  .custom-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .divider {
    margin: 8px 0 4px 0;
  }
}

@media (max-width: 320px) {
  .small-action-btn {
    width: 20px !important;
    height: 20px !important;
  }
}
