@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-blue: #006FEE;
  --danger: #F31260;
  --background-white: #FDFDFD;
  --box-background: #F8F8F8;
  --dark-blue-text: #313A5C;
  --stroke-gray: rgba(39, 39, 39, 0.1);
  --footer-background: #222639;
  --icon-background: #E7F1FE;
}
