.catalog {
	display: flex;
	gap: 20px;

	&__item {
		display: flex;
		gap: 12px;
		padding: 12px;
		align-items: center;

		&_title {
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 25.6px;
		}
	}
};
