.personal-data {
	gap: 20px;
	padding: 40px;

	&__content {
		gap: 28px;

		&_info {
			gap: 20px;
		}
	}

	&__info_inputs {
		gap: 12px;
		flex-wrap: wrap;

		& > div {
			width: 400px;
		}
	}

	&__actions {
		gap: 24px;
		max-width: 250px;

		&_links {
			gap: 8px;
		}
	}

	&__pay {
		gap: 12px;

		&_title {
			font-weight: 600;
			font-size: 20px;
			line-height: 30px;
			color: var(--dark-blue-text);
		}
	}
}

@media (max-width: 1124px) {
	.personal-data {
		&__info {
			&_inputs {
				& > div {
					width: 100%;
				}
			}
		}
	}
}
