.footer {
	padding: 60px 0 52px 0;
	background: var(--footer-background);

	&__info {
		display: flex;
		justify-content: space-between;

		&_columns {
			display: flex;
			flex-wrap: wrap;
			gap: 80px;
		};
	};

	&__columns {
		&_column {
			display: flex;
			flex-direction: column;
			gap: 24px;
		}
	}

	&__column {
		&_title {
			font-weight: 600;
			font-size: 20px;
			line-height: 30px;
			color: var(--background-white);
		}

		&_items {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		&_item {
			font-weight: 500;
			font-size: 16px;
			line-height: 26px;
			color: var(--background-white) !important;
		}
	}

	&__divider {
		margin: 40px 0 28px 0;
		background: var(--dark-blue-text) !important;
	}

	&__rules {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&_warranty {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}

		&_txt {
			font-weight: 400;
			font-size: 14px;
			letter-spacing: 0.01em;
			color: var(--background-white) !important;
		}

		&_agreements {
			display: flex;
			gap: 90px;
			align-items: center;
		}
	}
};

@media (max-width: 1045px) {
	.footer {
		padding: 40px 0 42px 0;

		&__info {
			flex-direction: column;
			gap: 40px;

			&_columns {
				gap: 60px;
			}
		}

		&__column {
			&_title {
				font-size: 16px;
				line-height: 26px;
			}

			&_items {
				gap: 14px;
			}
		}
	}
}

@media (max-width: 768px) {
	.footer {
		padding: 30px 0 32px 0;

		&__info {
			&_columns {
				gap: 40px;
			}
		}

		&__columns {
			&_column {
				gap: 18px;
			}
		}

		&__column {
			&_items {
				gap: 12px;
			}
		}

		&__rules {
			&_warranty {
				gap: 6px;
			}

			&_txt {
				font-size: 12px;
			}

			&_agreements {
				flex-direction: column;
				gap: 6px;
			}
		}
	}
}

@media (max-width: 640px) {
	.footer {
		padding: 20px 0 32px 0;

		&__columns {
			&_column {
				gap: 14px;
			}
		}

		&__column {
			&_items {
				gap: 8px;
			}
		}

		&__rules {
			flex-direction: column;
			gap: 10px;
			align-items: flex-start;

			&_warranty {
				gap: 4px;
			}

			&_txt {
				font-size: 10px;
			}

			&_agreements {
				flex-direction: column;
				gap: 4px;
			}
		}
	}
}
