.parameter {
	gap: 8px;

	&__variants {
		gap: 8px;
		flex-wrap: wrap;

		&_variants {
			align-items: center;
		}
	}

	&__variant {
		&_color {
			width: 24px;
			height: 24px;
			border-radius: 100%;
		}
	}
}
