.photo-tabs {
	display: flex;
	align-items: center;
	gap: 10px;

	&__main {
		margin-right: 16px;

		&_img {
			width: 400px;
			height: 400px;
			object-fit: contain;
		}
	}

	&__controls {
		display: flex;
		gap: 5px;
		flex-direction: column;
		align-items: center;
	}

	&__nav_button {
		width: 40px;
		height: 40px;
		padding: 5px;			transform: rotate(90deg);
		cursor: pointer;
	}

	&__thumbnails {
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	&__thumbnail {
		cursor: pointer;
		margin-bottom: 8px;
		width: 85px;
		height: 85px;
		object-fit: contain;
		border: 2px solid var(--background-white);
		padding: 7px;

		&.active {
			border: 2px solid var(--accent-blue);
			border-radius: 12px;
		}
	}
}

@media (max-width: 768px) {
	.photo-tabs {
		flex-direction: column-reverse;

		&__controls {
			flex-direction: row;
		}

		&__main {
			margin-bottom: 16px;
			margin-right: 0;

				&_img {
					width: 250px;
					height: 250px;
				}
		}

		&__thumbnails {
			flex-direction: row;
		}

		&__nav_button {
			margin: 0 8px 0 0;
			transform: rotate(0deg);
		}
	}
}
