.photo-tabs {
	display: flex;
	flex-direction: row;
	align-items: center;

	&__tabs > div {
		flex-direction: column;
		justify-content: space-evenly;
		height: 100%;
	}

	&__tabs {
		&_tab {
			height: auto !important;
		}

		&_tab > span {
			box-shadow: none;
			border: 2px solid var(--accent-blue);
			border-radius: 12px;
		}

		&_img {
			width: 400px;
			height: 400px;
			object-fit: contain;
		}
	}

	&__tab {
		&_img {
			max-width: 85px !important;
			height: 85px !important;
			object-fit: contain;
		}
	}
}

@media (max-width: 768px) {
	.photo-tabs {
		flex-direction: column-reverse;

		&__tabs > div {
			flex-direction: row;
		}

		&__tabs {
			&_img {
				width: 250px;
				height: 250px;
			}
		}
	}
}
