.header-content {
	display: flex;
	flex-direction: column;
	gap: 16px;
	background: var(--box-background);
	box-shadow: 0 4px 12px 0 rgba(139, 139, 139, 0.15);
	padding-top: 32px;
	padding-bottom: 8px;
};
