.header-content {
	padding: 32px 0 8px 0;
	background: var(--box-background);
	box-shadow: 0 4px 12px 0 rgba(139, 139, 139, 0.15);

	&__divider {
		margin: 16px 0 8px 0;
		background: var(--stroke-gray) !important;
	}
};

@media (max-width: 1024px) {
	.header-content {
		padding: 28px 0 8px 0;
	}
}

@media (max-width: 768px) {
	.header-content {
		padding: 16px 0 8px 0;
	}
}

@media (max-width: 640px) {
	.header-content {
		padding: 8px 0 8px 0;
	}
}
