.catalog {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 20px;

	&__content {
		height: fit-content;
		display: grid;
		grid-gap: 20px;

		&_sort {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 20px;
		}

		&_sort-position {
			gap: 10px;
			align-items: center;
			justify-content: space-between;
			grid-column-start: 3;
		}

		&_filter-modal {
			display: none;
		}

		&_products {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 20px;
		}
	}
}

@media (max-width: 1024px) {
	.catalog {
		display: block;

		&__filter {
			display: none;
		}

		&__content {
			&_filter-modal {
				display: block;
			}
		}
	}
}

@media (max-width: 1024px) {
	.catalog {
		display: block;
	}
}

@media (max-width: 648px) {
	.catalog {
		&__content {
			&_products {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}

@media (max-width: 375px) {
	.catalog {
		&__content {
			&_sort {
				display: block;
			}
		}
	}
}
