.product {
	gap: 16px;

	&__id {
		flex-shrink: 0;
		align-items: baseline;
		gap: 5px;

		&_txt {
			font-weight: 500;
			font-size: 14px;
			line-height: 21px;
			color: var(--dark-blue-text);
		}

		&_title {
			opacity: 0.7;
		}
	}

	&__content {
		display: flex;
		flex-direction: row;
		gap: 20px;
		align-items: center;
	}

	&__description {
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		color: var(--dark-blue-text);
	}

	&__card {
		width: 400px;
		padding: 28px 32px;

		&_body {
			gap: 20px;
		}
	}

	&__body {
		&_item {
			gap: 16px;
		}

		&_price {
			justify-content: space-between;
			align-items: end;
		}
	}

	&__price {
		&_txt {
			flex-shrink: 0;
			font-weight: 500;
			font-size: 16px;
			line-height: 26px;
			text-decoration: line-through;
			color: var(--dark-blue-text);
			opacity: 0.5;
		}
	}

	&__discount {
		&_txt {
			flex-shrink: 0;
			font-weight: 600;
			font-size: 28px;
			line-height: 42px;
			color: var(--dark-blue-text);
		}
	}

	&__discount-persent {
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		color: var(--dark-blue-text);

		&_txt {
			border-radius: 12px;
			padding: 8px 10px;
			background: var(--light-blue);
			color: var(--accent-blue);
		}
	}

	&__btns {
		gap: 16px;
		align-items: center;
	}
}

@media (max-width: 768px) {
	.product {
		&__content {
			flex-direction: column;
		}

		&__card {
			width: 100%;
		}
	}
}

@media (max-width: 640px) {
	.product {
		&__id {
			&_txt {
				font-size: 12px;
				line-height: 16px;
			}
		}

		&__discount-persent {
			font-size: 12px;
		}

		&__card {
			padding: 10px 15px;
		}

		&__price {
			&_txt {
				font-size: 14px;
				line-height: 16px;
			}
		}

		&__discount {
			&_txt {
				font-size: 20px;
				line-height: 24px;
			}
		}
	}
}

@media (max-width: 280px) {
	.product {
		&__price {
			&_txt {
				font-size: 12px;
			}
		}

		&__discount {
			&_txt {
				font-size: 16px;
			}
		}
	}
}

