.product {
	&__description {
		display: flex;
		flex-direction: row;
		gap: 20px;
		align-items: center;
	}

	&__card {
		width: 400px;
		padding: 28px 32px;

		&_body {
			gap: 20px;
		}
	}

	&__body {
		&_item {
			gap: 16px;
		}

		&_price {
			justify-content: space-between;
			align-items: end;
		}
	}

	&__price {
		&_txt {
			font-weight: 500;
			font-size: 16px;
			line-height: 26px;
			text-decoration: line-through;
			color: var(--dark-blue-text);
			opacity: 0.5;
		}
	}

	&__discount {
		&_txt {
			font-weight: 600;
			font-size: 28px;
			line-height: 42px;
			color: var(--dark-blue-text);
		}
	}

	&__discount-persent {
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		color: var(--dark-blue-text);

		&_txt {
			border-radius: 12px;
			padding: 8px 10px;
			background: var(--light-blue);
			font-weight: 500;
			font-size: 16px;
			line-height: 26px;
			color: var(--accent-blue);
		}
	}

	&__btns {
		gap: 16px;
		align-items: center;
	}
}

@media (max-width: 768px) {
	.product {
		&__description {
			flex-direction: column;
		}

		&__card {
			width: 100%;
		}
	}
}
