.product-card {
	gap: 24px;
	width: 295px;
	height: 485px;
	padding: 10px 15px;

	&__body {
		justify-content: center;
		align-items: center;

		&_img {
			display: flex;
			justify-content: inherit;
			align-items: inherit;
			width: 200px;
			height: 200px;
		}

		&_default-img {
			background: #e7e7e7;
			border-radius: 15px;
		}
	}

	&__content {
		gap: 12px;

		&_product {
			gap: 8px;
			width: 100%;
		}

		&_btn {
			width: 100%;
		}
	}

	&__product_outcome {
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}

	&__outcome_container {
		align-items: center;
		gap: 4px;
	}

	&__outcome_txt {
		font-weight: 500;
		font-size: 14px;
	}

	&__outcome_estimation {
		color: var(--accent-blue);
	}

	&__outcome_reviews {
		color: var(--dark-blue-text);
		opacity: 0.5;
	}

	&__product_title {
		text-align: start;
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		color: var(--dark-blue-text);
	}

	&__product_details {
		gap: 10px;
		align-items: center;
		justify-content: space-between;
	}

	&__details_prices {
		display: flex;
		width: fit-content;
		text-align: start;
		align-items: center;
		gap: 4px;
	}

	&__prices_price, &__prices_discount-price {
		white-space: nowrap;
	}

	&__prices_price {
		width: 100%;
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		text-decoration: line-through;
		color: var(--dark-blue-text);
		opacity: 0.5;
	}

	&__prices_discount-price {
		width: 100%;
		font-weight: 600;
		font-size: 20px;
		line-height: 30px;
		color: #464455;
	}

	&__details_btn {
		display: flex;
		justify-content: center;
	}

	&__details_btn-like {
		width: 32px;
		height: 32px;
	}
}

@media (max-width: 1048px) {
	.product-card {
		gap: 10px;
		width: 280px;
		height: 355px;
		padding: 5px;

		&__body {
			padding: 2px;

			&_img {
				width: 120px;
				height: 120px;
			}
		}

		&__content {
			padding: 2px;
		}
	}
}

@media (max-width: 968px) {
	.product-card {
		width: 220px;

		&__outcome_txt {
			font-size: 10px;
		}

		&__product_title {
			font-size: 12px;
			line-height: 20px;
		}

		&__prices_price {
			font-size: 12px;
			line-height: 20px;
		}

		&__prices_discount-price {
			font-size: 14px;
			line-height: 22px;
		}
	}
}

@media (max-width: 680px) {
	.product-card {
		gap: 2px;
		width: 180px;
		height: 305px;

		&__body {
			padding: 0;

			&_img {
				width: 100px;
				height: 100px;
			}
		}

		&__content {
			padding: 0;
			gap: 6px;

			&_product {
				gap: 2px;
			}
		}

		&__outcome_txt {
			font-size: 8px;
		}

		&__product_title {
			font-size: 10px;
			line-height: 16px;
		}

		&__product_details {
			gap: 2px;
		}

		&__details_prices {
			flex-direction: column;
			gap: 0;
		}

		&__prices_price {
			font-size: 10px;
			line-height: 18px;
		}

		&__prices_discount-price {
			font-size: 12px;
			line-height: 20px;
		}

		&__details_btn-like {
			width: 20px;
			height: 20px;
		}
	}
}

@media (max-width: 375px) {
	.product-card {
		gap: 0;
		width: 150px;
		height: 285px;

		&__content {
			gap: 2px;

			&_btn button {
				padding: 0;
				height: 32px;
			}
		}
	}
}
