.bottom-header {
	padding: 0;
	justify-content: flex-start !important;

	&__link {
		gap: 4px;
		align-items: center;

		&_txt {
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
	}
}

.bottom-header header {
	padding: 0;
}


@media (max-width: 1024px) {
	.bottom-header {
		&__link {
			&_txt {
				font-size: 12px;
			}
		}
	}
}

@media (max-width: 768px) {
	.bottom-header header {
		display: none;
	}
}
