.section {
	padding-top: 40px;
	padding-bottom: 40px;
	gap: 20px;

	&__header {
		align-items: baseline;
		gap: 12px;

		&_title {
			font-size: 28px;
			color: var(--dark-blue-text);
		}

		&_count {
			font-size: 20px;
			color: rgba(49, 58, 92, 0.5);
		}

		&_txt {
			font-weight: 600;
			line-height: 42px;
		}
	}

	&__content {
		gap: 20px;
		align-items: flex-start;

		&_list {
			flex: 3;
			flex-wrap: wrap;
			gap: 20px;
		}
	}
}
