.section {
	padding-top: 40px;
	padding-bottom: 40px;
	gap: 20px;

	&__title {
		font-size: 28px;
		color: var(--dark-blue-text);
		font-weight: 600;
		line-height: 42px;
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}
}
