.section {
	padding-top: 40px;
	padding-bottom: 40px;
	gap: 20px;

	&__article {
		gap: 16px;

		&_breadcrumb-item > span {
			white-space: normal;
		}

		&_header {
			gap: 10px;
		}
	}

	&__header_txt {
		font-weight: 600;
		line-height: 42px;
	}

	&__header_title {
		font-size: 28px;
		color: var(--dark-blue-text);
	}

	&__header_count {
		font-size: 20px;
		color: rgba(49, 58, 92, 0.5);
	}
}
